In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
from sklearn.linear_model import LinearRegression

In [12]:
df = pd.read_csv("housing.csv")

In [14]:
df.shape

(20640, 10)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [16]:
df.sample(20)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
1319,-121.88,38.03,10.0,2769.0,619.0,1045.0,469.0,4.1111,158600.0,INLAND
9315,-122.47,37.99,22.0,7274.0,1002.0,2468.0,957.0,7.4940,439200.0,NEAR BAY
18389,-121.88,37.24,14.0,7174.0,950.0,2782.0,899.0,8.3065,394200.0,<1H OCEAN
11833,-120.18,39.28,14.0,10098.0,1545.0,701.0,254.0,4.0819,141300.0,INLAND
5062,-118.28,33.99,37.0,1971.0,513.0,1673.0,464.0,1.4625,103000.0,<1H OCEAN
18032,-121.94,37.24,19.0,1741.0,294.0,632.0,279.0,5.5944,290500.0,<1H OCEAN
13997,-117.03,34.87,7.0,2245.0,407.0,1016.0,364.0,3.9464,101500.0,INLAND
4736,-118.38,34.05,52.0,1004.0,231.0,590.0,226.0,4.2404,351000.0,<1H OCEAN
2857,-118.94,35.40,14.0,5548.0,941.0,2815.0,935.0,4.2214,104600.0,INLAND
20625,-121.52,39.12,37.0,102.0,17.0,29.0,14.0,4.1250,72000.0,INLAND
2844,-118.98,35.41,36.0,1482.0,266.0,640.0,274.0,3.8750,94500.0,INLAND
4099,-118.37,34.14,8.0,4382.0,1560.0,2138.0,1411.0,3.5714,197900.0,<1H OCEAN
11742,-121.15,38.91,23.0,1654.0,299.0,787.0,299.0,4.2723,193100.0,INLAND
6830,-118.11,34.07,46.0,1130.0,229.0,698.0,209.0,5.2719,244400.0,<1H OCEAN
18113,-122.02,37.31,34.0,2629.0,433.0,1301.0,431.0,6.0830,341400.0,<1H OCEAN
5286,-118.46,34.05,21.0,3639.0,1002.0,1489.0,983.0,4.6197,387500.0,<1H OCEAN
13226,-117.68,34.01,20.0,7326.0,1555.0,5718.0,1538.0,3.2073,123500.0,INLAND
5181,-118.26,33.94,44.0,1103.0,265.0,760.0,247.0,1.6887,99600.0,<1H OCEAN
275,-122.18,37.79,41.0,1411.0,233.0,626.0,214.0,7.0875,240700.0,NEAR BAY
8362,-118.33,33.96,42.0,2084.0,517.0,1062.0,451.0,2.0057,198200.0,<1H OCEAN